.app-menu-lateral-direito {
  height: calc(100vh - 64px);
  min-width: 156px;
  width: 156px;
  .lista {
    list-style: none;
    padding: 0;
    .item-lista {
      padding-left: 1rem;
      line-height: 20px;
    }
    .item-lista:hover,
    .active-link {
      color: var(--primary-color-300);
      cursor: pointer;
      font-weight: 600;
      white-space: nowrap;
      border-left: 4px solid var(--primary-color-300);
    }
  }
}
