<div class="app-linha-representante">
  <div class="dados-cadastrais ds-pt-3 ds-pb-2">
    <div class="ds-row">
      <div class="ds-col-6">
        <span
          class="ds-text-truncate"
          dsTooltip
          [tooltip]="pessoa.pessoa.nome"
          >{{ pessoa.pessoa.nome }}</span
        >
        <span>{{ pessoa.pessoa.identificacao | cpfCnpjFormatacao }}</span>
      </div>
      <div class="ds-col-2 centralizado" *ngIf="pessoa.cliente.situacao">
        <ds-badge
          [labelBadge]="pessoa.cliente.situacao.toString()"
          [icone]="''"
          [tipoBadge]="getTipoBadge(pessoa.cliente.situacao)"
        ></ds-badge>
      </div>
      <div class="ds-col-2 centralizado" *ngIf="pessoa.cliente.data_cadastro">
        <span>{{ pessoa.cliente.data_cadastro | dataFormatacao }}</span>
      </div>

      <div
        class="ds-col-2 centralizado botoes"
        *ngIf="pessoa.cliente.situacao && pessoa.cliente.data_cadastro"
      >
        <i
          class="ds-icon-edit ds-text-primary"
          (click)="editarRepresentante(router.url)"
        ></i>
        <i
          class="ds-icon-trash ds-text-danger"
          (click)="abrirModalExclusao(router.url)"
        ></i>
      </div>

      <div
        class="ds-col-6 centralizado botoes"
        *ngIf="!pessoa.cliente.situacao || !pessoa.cliente.data_cadastro"
      >
        <i
          class="ds-icon-edit ds-text-primary"
          (click)="editarRepresentante(router.url)"
        ></i>
        <i
          class="ds-icon-trash ds-text-danger"
          (click)="abrirModalExclusao(router.url)"
        ></i>
      </div>
    </div>
  </div>
</div>
