.inicio {
  padding-top: var(--padding-content);
  .alinhamento {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 86px - 32px);
    .titulo {
      font-weight: 700;
      font-size: 20px;
    }
  }
}
