<div class="criar-conta">
  <div>
    <div class="centralizar ds-mb-3">
      <img src="../../../../assets/Caminho 74.svg" />
    </div>
    <div class="centralizar titulo ds-mb-2">Criar conta</div>
    <div class="centralizar">Cria sua conta e desfrute de todo o sistema!</div>
    <div class="ds-row centralizar ds-mb-3 ds-mx-0">
      <div class="ds-row centralizar ds-mb-3 ds-mx-0">
        <div class="ds-col-4">
          <ds-input-text
            [labelInput]="'Nome'"
            [placeholderInputText]="'Insira seu nome'"
            [control]="criarContaForm.controls.nome"
            [errosCustomizados]="errosCustomizados"
          ></ds-input-text>
        </div>
      </div>
      <div class="ds-row centralizar ds-mb-3 ds-mx-0">
        <div class="ds-col-4">
          <ds-input-text
            [labelInput]="'E-mail'"
            [placeholderInputText]="'Insira seu e-mail'"
            [control]="criarContaForm.controls.email"
            [errosCustomizados]="errosCustomizados"
          ></ds-input-text>
        </div>
      </div>
      <div class="ds-row centralizar ds-mb-3 ds-mx-0">
        <div class="ds-col-4">
          <ds-input-text
            [labelInput]="'Senha'"
            [placeholderInputText]="'Insira a nova senha'"
            [control]="criarContaForm.controls.senha"
            [errosCustomizados]="errosCustomizados"
            (valueChangeEvento)="
              verificarSenha($event, criarContaForm.controls.senha)
            "
          ></ds-input-text>
        </div>
      </div>
      <div class="ds-row centralizar ds-mb-3 ds-mx-0">
        <div class="ds-col-4">
          <ds-input-text
            [labelInput]="'Confirmar senha'"
            [placeholderInputText]="'Repita a senha inserida'"
            [control]="criarContaForm.controls.senha2"
            [errosCustomizados]="errosCustomizados"
            (valueChangeEvento)="
              verificarSenha($event, criarContaForm.controls.senha2);
              verificarSeSenhasSaoIguais()
            "
          ></ds-input-text>
        </div>
      </div>
      <div class="ds-row centralizar ds-mb-3 ds-mx-0">
        <div class="ds-col-4">
          <ds-button
            class="ds-d-inline-block width-100"
            [tipoBotao]="'PRIMARY'"
            [labelButton]="'Criar conta'"
            [isDesabilitado]="verificarSeFormularioEInvalido()"
            (click)="criarConta()"
          ></ds-button>
        </div>
      </div>
      <div class="centralizar">* Campos obrigatórios</div>
      <div class="centralizar">
        Já possui cadastro?
        <a class="ds-ml-2" [routerLink]="'/login'">Faça Log in</a>
      </div>
    </div>
  </div>
</div>
