.criar-conta {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .centralizar {
    display: flex;
    justify-content: center;
  }
  .titulo {
    font-size: 1.75rem;
    font-weight: 900;
  }
  .width-100 {
    width: 100%;
  }
}
