.listar-cliente {
  height: calc(100vh - 86px - 32px);
  // padding-top: var(--padding-content);
  padding-top: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  .cliente-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .cliente-titulo {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
  .cliente-container-vazio {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .titulo-imagem {
      font-weight: 700;
    }
  }
}
