<div class="listar-representante">
  <div class="representante-header ds-mb-3">
    <span class="texto-header-1">Representantes</span>
    <div class="linha-horizontal centralizar ds-mx-2"></div>
    <i class="ds-icon-asterisk centralizar cor-texto"></i>
    <span class="texto-header-2 cor-texto">Campos obrigatórios</span>
  </div>
  <div>
    <ds-button
      tipoBotao="PRIMARY"
      [labelButton]="'Adicionar representante'"
      (click)="adicionarRepresentante()"
    ></ds-button>
  </div>
  <div class="listar-representante-content ds-mt-3">
    <div class="ds-row ds-mb-2">
      <div class="ds-col-12">
        <span class="ds-text-semi-bold">Nome - CPF/CNPJ</span>
      </div>
    </div>
    <div *ngFor="let representante of listaRepresentantes">
      <!-- <app-linha-pessoa [pessoa]="representante"></app-linha-pessoa> -->
    </div>
  </div>
</div>

<div
  class="listar-representante-content-vazio"
  *ngIf="listaRepresentantes.length === 0"
>
  <app-nao-ha-dados
    [titulo]="'Nenhum representante cadastrado!'"
  ></app-nao-ha-dados>
</div>
