.localizacao {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 20px;
  .localizacao-header {
    display: flex;
    align-items: center;
    .linha-horizontal {
      width: 100%;
      height: 0.5px;
      background-color: #2f3337;
      display: flex;
    }
    .texto-header-1 {
      min-width: 89px;
      font-weight: 700;
    }
    .texto-header-2 {
      min-width: 115px;
      font-size: 0.75rem;
    }
    .cor-texto {
      color: var(--gray-color-400);
    }
    .centralizar {
      align-self: center;
    }
  }
  .localizacao-content {
    .text-link {
      text-decoration: underline;
      color: var(--secondary-color-300);
      cursor: pointer;
    }
    .adicionar-telefone,
    .adicionar-email {
      flex-wrap: nowrap;
      align-items: center;
      .botao {
        width: fit-content;
      }
    }
  }
}
.botoes {
  display: flex;
  gap: 20px;
  align-self: flex-end;
  justify-content: end;
}
