<div class="app-menu-lateral-direito">
  <ul class="lista ds-pt-3">
    <li
      class="item-lista ds-mb-3"
      [routerLink]="'dadoscadastrais'"
      [routerLinkActive]="'active-link'"
    >
      Dados cadastrais
    </li>
    <li
      class="item-lista ds-mb-3"
      [routerLink]="'localizacao'"
      [routerLinkActive]="'active-link'"
    >
      Localização
    </li>
    <li
      class="item-lista"
      [routerLink]="'representantes'"
      [routerLinkActive]="'active-link'"
    >
      Representantes
    </li>
  </ul>
</div>
