.app-menu-lateral-direito {
  border-left: 1px solid #2f3337;
  height: 100%;
  min-width: 156px;
  width: 156px;
  .lista {
    list-style: none;
    padding: 0;
    .item-lista {
      padding-left: 1rem;
      line-height: 20px;
    }
    .item-lista:hover,
    .active-link {
      color: var(--primary-color-300);
      cursor: pointer;
      font-weight: 600;
      white-space: nowrap;
      border-left: 4px solid var(--primary-color-300);
    }
    // .active-link {
    //   color: var(--primary-color-300);
    //   cursor: pointer;
    //   font-weight: 600;
    //   white-space: nowrap;
    //   border-left: 4px solid var(--primary-color-300);
    // }
  }
}
