/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: "Inter";
  src: url("../src/assets/decisao-sistemas.ttf");
}

body {
  margin: 0 !important;
  font-family: "Inter", sans-serif;
}

:root {
  --main-content-height: calc(100vh - 64px);
  --padding-content: 55px;
}
