.editar-cliente {
  height: max-content;
  display: flex;
  .editar-cliente-content {
    border-right: 1px solid #2f3337;
    padding: var(--padding-content);
    padding-right: 0;
    padding-bottom: 46px;
    width: calc(100% - 204px);
  }
}
